<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Your Personal CSS BELOW this Line -->
        <link rel="stylesheet" href="/static/styles/universal.css">
        <link rel="stylesheet" href="/static/styles/homepage.css">
    </head>
    
    <body>
       <!-- NavBar -->
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand"></a>
        <a href="/home"><img src="/static/images/logo.png" width="150" height="55" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Homepage<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/forum">Forum</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-info" href="{{url_for('logout')}}">Log out</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="hr"><hr></div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img src="/static/images/homepage1.png" class="image1">
          </div>
          <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Growth</h5>
                  <p class="card-text">We are dedicated to helping our clients achieve growth in their portfolios. Our team of experts uses a combination of fundamental and technical analysis to identify undervalued stocks with strong potential for growth. We also diversify our clients' investments across different sectors and asset classes to reduce risk and capture opportunities in different market conditions.</p>
                </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Communication</h5>
                <p class="card-text">FinanceMint has a proven track record of success, with over 95% of our clients achieving their financial goals. Our team of experienced professionals has a combined experience of over 50 years in the stock market, and we have consistently outperformed the market average by more than 20% over the past decade. Additionally, our clients have reported a 99% satisfaction rate with our services, which is a testament to our commitment to providing reliable and effective investment solutions.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
                <img src="/static/images/homepage2.png" class="image2">
              </div>
          </div>
        </div>
      </div>

      <br><br><br><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img src="/static/images/homepage3.png" class="image3">
          </div>
          <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Trust</h5>
                  <p class="card-text">Our team of experienced professionals is dedicated to building long-term relationships with our clients based on trust, integrity, and accountability. We prioritize our clients' financial goals and provide them with unbiased and expert advice to help them make informed investment decisions. With our commitment to transparency, ethical practices, and putting our clients' needs first, FinanceMint is a trusted partner in achieving financial success.</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <br><br>

      <div class="hr"><hr></div>
      <div class="final_section">Meet our leaders</div><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Brian Chesky</h5>
                  <p class="card-text">CEO</p>
                  <img src="/static/images/ceo.png" class="card-img-top">
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">John Waldron</h5>
                  <p class="card-text">COO</p>
                  <img src="/static/images/coo.png" class="card-img-top">
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Elon Musk</h5>
                  <p class="card-text">CAO</p>
                  <img src="/static/images/cao.png" class="card-img-top">
                </div>
              </div>
          </div>
        </div>
      </div>

        <!-- Your Content ABOVE this Line -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>