<!DOCTYPE html>
<html>
  
  <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Your Personal CSS BELOW this Line -->
    <link rel="stylesheet" href="/static/styles/universal.css">
    <link rel="stylesheet" href="/static/styles/login.css">
    <script src="notification.js"></script>
  </head>

  <body>
    <div class="row">
      <!-- Splitting the page into two section, one for log in and one to go to sign up page -->
      <div class="col-md-8">
        <div class="login_section">
          <div class="welcome_message">
            <div class="inside_welcome">
              <h5>Welcome to<div class="title">FinanceMint</div> the place dedicated to helping you navigate the complex
                world of personal finance when living in the US and San Fransisco.</h5>
            </div>
          </div>
          <div class="background_image">
            <form method="POST" class="login-container">
              <div class="form-group">
                <label for="username" class="form-label">Username:</label>
                <input id="username" type="text" class="form-input" name="username">
              </div>
              <div class="form-group">
                <label for="password" class="form-label">Password:</label>
                <input id="password" type="text" class="form-input" name="password">
              </div>
              <div class="form-group">
                <button id="show-notification" class="btn btn-info submit-btn" type="submit">Login</button>
              </div>
            </form>
          </div>
          <hr>
        </div>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trust</h5>
              <p class="card-text">You are safe while under the service of FinanceMint. Our strong commitment to
                transparency, security, and customer satisfaction are unparralelled within a bustling market.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Advancement</h5>
              <p class="card-text">
                <ol>
                  <li>Effective money management</li>
                  <li>Positive growth over the long term</li>
                  <li>Increased personal knowledge</li>
                </ol>
              </p>
            </div>
          </div>
        </div>
    </div>
      <!-- Beginning of second section of page -->
      <div class="col-md-4 column2">
        <img src="/static/images/logo.png" class="logo">
        <div class="signup_section">
          <h3>Don't have an account? Sign up for free!</h3>
        </div>
        <a class="btn btn-primary button2" href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
</html>