.forum_image {
    height: 40vh;
    width: 100vh;
    /* ChatGPT */
    display: block; 
    max-width: 100%; 
    margin: 0 auto;
    /* ChatGPT */
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.top-card {
    border: 0;
    text-align: center;
    width: 50%;
}

.top-title {
    font-size: 25px;
}

.bordered-container {
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

.container-results {
    display: flex;
    flex-wrap: wrap;
}

.forum-title {
    color: #2E7FDD;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.forum-subtitle {
    display: flex;
    justify-content: center;
}

.posts {
    width: 25%;
    border: 1px, black;
    text-align: center;
    
}

p {
    font-size: 18px;
}

h2 {
    font-size: 13px;
}