.forum_image {
    height: 40vh;
    width: 100vh;
    /* ChatGPT */
    display: block; 
    max-width: 100%; 
    margin: 0 auto;
    /* ChatGPT */
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.card {
    border: 0;
    text-align: center;
    width: 50%;
}

.card-title {
    font-size: 25px;
}

.bordered-container {
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    padding-right: 10px;
}