.login-container {
	margin-left: 40%;
	width: 220px;
	background-color: #fff;
	padding: 33px;
	border-radius: 10px;
    background-color: transparent;
}

.login-container, .card, hr {
    border-color: transparent;
}

.form-label, .signup-section, .welcome-message, .card, .card-title {
    text-align: center;
} 

.background-image {
    background-image: url("/static/images/login_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.form-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
}

.form-input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
    border-radius: 50px;
	font-size: 16px;
}

.submit-btn {
	padding: 10px 20px;
	font-size: 16px;
    margin-left: 4vh;
}

.button-two {    
	padding: 10px 20px;
	font-size: 16px;	
    margin-top: 2vh;
    margin-left: 40%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-section {
    padding: 6px;
	border-radius: 5px;
    border-radius: 50px;
	font-size: 15px;
    margin-top: 25vh;
    margin-left: 4vh;
    margin-right: 4vh;
}

.welcome-message {
	padding-bottom: 2vh;
	border-radius: 5px;
	border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
}

.inside-welcome {
    width: 40%;  
}

.column-two {
    background-color: #D9D9D9;
    height: 100vh;
}

.card {
    width: 40vh; 
}
  
.col-md-8 {
    padding-right: 0px;
}

hr {
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0;
    height: 2px;
    margin-top: 0px;
    width: 100%;
  }

.card-title {
    font-size: 25px;
}

.title {
    font-weight: bold;
    color: #0C4F9D;
    font-size: 35px;
}

.logo {
    display: block; 
    max-width: 100%; 
    margin: 0 auto;
}

/* ChatGPT */
@media (max-width: 600px) {
    .card-deck {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .column-two {
        background-color: #fff;
    }
}
/* ChatGPT */
  

  
